/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


/***************************
****************************
Base Styles
****************************
***************************/
body { color: black; font-family: 'Quattrocento', serif; font-weight: normal; }

h1, h2 { font-family: 'Courgette', cursive; }
h1, h2, h4 { font-weight: bold; }
a { color: black; font-weight: bold; }
a:hover { text-decoration: underline; }

iframe { width: 100%; }


/***************************
****************************
Layout Styles
****************************
***************************/
.container { 
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto; 
	margin-left: auto;
	max-width: 1170px;
}


.row { 
	margin-right: -15px;
	margin-left: -15px;
}
.row:after { content: ""; display: table; clear: both; }

[class*='col-'] {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.coluna-vazia { /*do not collapse*/
	min-height: 1px;
}

.flex-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; }
.flex-centered { align-items: center; }
.flex-justify-between { justify-content: space-between; }
.flex-justify-around { justify-content: space-around; }

@media only screen and (min-width: 32em) {
	[class*='col-'] { float: left; }
}

@media (min-width: 48em) { /*768px*/
	
	
	.col-1-6 { width: 16.6666%;}
	.col-1-4 { width: 25%; }
	.col-1-3 { width: 33.3333%; }
	.col-1-2 { width: 50%; }
	.col-2-3 { width: 66.6666%; }
}

@media (min-width: 48em) {
	.pull-right-sm { float: right; }
}

@media only screen and (max-width: 47.9375em) {
	.remove-gutter-xs { 
		padding-left: 0px; 
		padding-right: 0px; 
	}
}

@media only screen and (min-width: 620px) {
	.grid {
		display: grid;
		grid-template-columns: 5fr 1fr;
		
		/*grid-gap: 10px;*/
	}
}
@media only screen and (min-width: 860px) {
	.grid {
		/* display: grid; */
		grid-template-columns: 2fr 2fr;
		grid-template-rows: minmax(100px, auto);
		/*grid-gap: 10px;*/
	}
}
@media only screen and (min-width: 1200px) {
	.grid {
		/* display: grid; */
		grid-template-columns: 2.5fr 1fr 2.5fr;
		/*grid-template-rows: 500px;*/
		grid-gap: 5px;
	}
}


/***************************
****************************
Module Styles
****************************
***************************/
/*Header Modules*/
.header-primary { color: #201131; /*#524561 #6c5980 #524561*/ font-weight: bold; text-align: center; padding-top: 18px; padding-bottom: 18px; background-image: linear-gradient( rgba(30, 144, 255, 0.9), rgb(250, 250, 210, 0.2) 99.9999%); }
.header-primary h1 { font-size: 3em; text-shadow: 1.3px 1.3px #abaaa4; }


/*Logo Modules*/
.logo { overflow: hidden; display: inline-block; }
.logo-primary { width: 200px; height: 51px; }
.logo-primary img { height: 100%; }


/*Navigation and Social Modules*/
.nav > ul, .social ul { list-style: none; padding: 0px; margin: 0px 25px; }
.nav > ul li, .social ul li { display: inline-block; padding-right: 15px; }
.nav > ul li a, .social ul li a { color: #334a5f; text-shadow: 1px 1px #eae7ca; text-decoration: none; }
.nav > ul li a:hover { text-decoration: underline; }
.social-secundary { position: relative; top: 1em; }

.nav-primary { margin-top: 15px; margin-bottom: 15px; }
.nav-secundary { margin-top: 10px; margin-bottom: 10px; }

/*Nav for small devices*/
@media only screen and (max-width: 510px) {
	.pad-sm { padding-bottom: 25px; }
	/*.not-pad-sm { padding-bottom: 5px; }*/
}


/*Footer Modules*/
footer { color: #201131; /*#524561 #6c5980 #524561*/ font-weight: bold; text-align: center; padding-top: 30px; padding-bottom: 30px; }
footer p, footer small { text-shadow: 1px 1px #abaaa4; }
footer .row:nth-child(2) { border-top: 1px solid white; }
footer .row:first-of-type { padding-bottom: 20px; }
footer .row:last-of-type { padding-top: 20px; }

.flex-footer [col*='col-'] { float: none; }
.flex-footer .col-1-6 { width: 16.6666%; }
.flex-footer .col-1-4 { width: 25%; }
.flex-footer .col-1-3 { display: block; width: 33.3333%; }

/*Footer for small-medium devices*/
@media only screen and (max-width: 767.9999px) { 
	#position-sm-1-3 {
		width: 80%; margin: 0 auto; position: relative; left: 2em; 
	}
	#position-sm-1-4 {
		width: 25%;
	}
	#position-sm-1-6 {
		width: 16.6666%; 
	}
	/*.social-secundary { position: relative; top: 1em; }*/
} 


/*Image Modules*/
main { border: 5px solid rgba(30, 144, 255, 0.09); border-top: none; }
div.grid { /*margin-bottom: 80px; margin-top: 80px;*/ background-image: linear-gradient(rgba(250, 235, 215, 0.4) 10%, rgba(135, 169, 181, 0.2), rgba(250, 235, 215, 0.4)); /*antiquewhite mintCream #d3d8d6*/ }

div.grid img { width: 100%; }

.polaroid { width: 70%;  background: Beige; /*#f3dec4 LightGoldenRodYellow rgba(250, 250, 210, 0.8) #dce8e3*/ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin: 0 auto 100px auto; max-width: 400px; }

@media only screen and (max-width: 345px) {
	.polaroid { margin: 0 auto 100px 40px; }
}

.polaroid-text { text-align: center; padding: 10px 20px; }
.polaroid p { color: #201131; }
#f3dec4

.efeito-a { transform: rotate(-5deg); }
.efeito-b { transform: skewX(13deg); }
.efeito-c { transform: skewY(20deg); }
.efeito-d { transform: rotate(5deg); }
.efeito-e { transform: skewY(-20deg); }
.efeito-f { transform: skewX(-13deg); }
.efeito-x { transform: rotate(-5deg); }

/*.item {background-image: linear-gradient(antiquewhite 10%, rgba(135, 169, 181, 0.3)); rgb(30, 144, 255, 0.3) }*/
.item1 { padding-top: 35px; }

.texto { font-weight: bold; color: #5c89b3; /*#334a5f*/ text-shadow: 1px 1px #34526d; /*#7198bb #7198bb #4b9ae2 #afa767 #eae7ca*/ background: rgba(250, 250, 210, 0.1); /*LightGoldenRodYellow*/ padding: 15px 10px; position: relative; bottom: 75px; }
.texto h4 { margin-bottom: 15px; text-decoration: underline; }
.texto p { text-shadow: 1px 1px #cee7fd; }


/*Video Modules*/
.video-heading { text-align: center; padding-top: 3px; color: rgba(32, 17, 49, 0.6); /*tom de roxo*/ }
figure.video-body { margin: 1em 0;}

div.iframe { background-color: #EEE; background-image: linear-gradient(to bottom, rgba(3, 50, 72,0.7), rgba(240, 248, 255,0.2), rgba(3, 50, 72,0.7)); text-transform: uppercase; }


/*.
texto1 { grid-area: 2 / 1 / 3 / 3; }
.texto2 { grid-area: 4 / 1 / 5 / 3; }
.texto3 { grid-area: 6 / 1 / 7 / 3; }
.texto4 { grid-area: 8 / 1 / 9 / 3; }
.texto5 { grid-area: 10 / 1 / 11 / 3; }
.texto6 { grid-area: 12 / 1 / 13 / 3; }
.texto7 { grid-area: 14 / 1 / 15 / 3; }
.texto8 { grid-area: 16 / 1 / 16 / 3; }
.item1  { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 1 / 3 / 2 / 4; }
.item3 { grid-area: 2 / 1 / 3 / 2; }
.item4 { grid-area: 2 / 3 / 3 / 4; }
.item5 { grid-area: 3 / 1 / 4 / 2; }
.item6 { grid-area: 3 / 3 / 4 / 4; }
.item7 { grid-area: 4 / 1 / 5 / 2; }
.item8 { grid-area: 4 / 3 / 5 / 4; }
.item9 { grid-area: 5 / 1 / 6 / 2; }
.item10 { grid-area: 5 / 3 / 6 / 4; }
.item11 { grid-area: 6 / 1 / 7 / 2; }
.item12 { grid-area: 6 / 3 / 7 / 4; }
.item13 { grid-area: 7 / 1 / 8 / 2; }
.item14 { grid-area: 7 / 3 / 8 / 4; }
.item15 { grid-area: 8 / 1 / 9 / 2; }
.item16 { grid-area: 8 / 3 / 9 / 4; }
*/

@media only screen and (min-width: 460px) {
	.polaroid { margin-bottom: 140px; }
}

/*Grid 2 Colunas: img + texto*/
@media only screen and (min-width: 620px) {
	.texto { line-height: 40px; padding-top: 10px; position: static; }
	
	.texto1 { grid-area: 1 / 2 / 3 / 3; }
	.texto2 { grid-area: 3 / 2 / 5 / 3; }
	.texto3 { grid-area: 5 / 2 / 7 / 3; }
	.texto4 { grid-area: 7 / 2 / 9 / 3; }
	.texto5 { grid-area: 9 / 2 / 11 / 3; }
	.texto6 { grid-area: 11 / 2 / 13 / 3; }
	.texto7 { grid-area: 13 / 2 / 15 / 3; }
	.texto8 { grid-area: 15 / 2 / 17 / 3; }
}/*Grid 2 Colunas: img + img*/
@media only screen and (min-width: 860px) {
	.item2 { padding-top: 35px; }
	
	.texto { background-image: linear-gradient(to right, rgba(240, 248, 255, 0.6) 10%, rgba(250, 250, 210, 0.1)); /*aliceblue e tom de amarelo-claro*/ background-repeat: no-repeat; background-size: cover; position: static; }
	.texto { line-height: 20px; position: relative; }
	.texto p { text-shadow: 1px 1px #9ab0c3; }
	.texto1 { grid-area: 2 / 1 / 3 / 3; border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
	.texto2 { grid-area: 4 / 1 / 5 / 3;  border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
	.texto3 { grid-area: 6 / 1 / 7 / 3;  border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
	.texto4 { grid-area: 8 / 1 / 9 / 3;  border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
	.texto5 { grid-area: 10 / 1 / 11 / 3;  border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
	.texto6 { grid-area: 12 / 1 / 13 / 3;  border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
	.texto7 { grid-area: 14 / 1 / 15 / 3;  border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
	.texto8 { grid-area: 16 / 1 / 17 / 3;  border: 1px solid rgba(142, 158, 173, 0.3); /*tom de azul-claro*/ }
}
/*Grid 3 Colunas*/
@media only screen and (min-width: 1200px) {
	div.grid { background-image: linear-gradient(rgba(250, 235, 215, 0.5) 10%, rgba(135, 169, 181, 0.2), rgba(250, 235, 215, 0.5)); }
	/*
	.item2 { padding-top: 35px; }
	*/
	.polaroid { background-color: #f3dec4; margin-bottom: 190px; }

	.texto { /*line-height: 20px;*/ background-image: linear-gradient(rgba(250, 250, 210, 0.2), rgba(240, 248, 255, 0.3) 40%); background-repeat: no-repeat; background-size: cover; position: static; }
	.texto1 { grid-area: 1 / 2 / 2 / 3; border-color: rgba(142, 158, 173, 0.1); }
	.texto2 { grid-area: 2 / 2 / 3 / 3; border-color: rgba(142, 158, 173, 0.1); }
	.texto3 { grid-area: 3 / 2 / 4 / 3; border-color: rgba(142, 158, 173, 0.1); }
	.texto4 { grid-area: 4 / 2 / 5 / 3; border-color: rgba(142, 158, 173, 0.1); }
	.texto5 { grid-area: 5 / 2 / 6 / 3; border-color: rgba(142, 158, 173, 0.1); }
	.texto6 { grid-area: 6 / 2 / 7 / 3; border-color: rgba(142, 158, 173, 0.1); }
	.texto7 { grid-area: 7 / 2 / 8 / 3; border-color: rgba(142, 158, 173, 0.1); }
	.texto8 { grid-area: 8 / 2 / 9 / 3; border-color: rgba(142, 158, 173, 0.1); }
}



/*
@media only screen and (min-width: ) {
	
	
}*/


/***************************
****************************
Theme Styles 
****************************
***************************/
.background-primary { background: rgb(30, 144, 255, 0.9); /*CornflowerBlue (DodgerBlue rgb(30, 144, 255))*/ }
.background-secondary { background: Khaki; /*(LightGoldenRodYellow rgb(250, 250, 210))*/ }
.background-tertiary { background: rgba(107, 142, 35,0.5); /*(OliveDrab rgba(107, 142, 35,0.5)) YellowGreen (DarkSeaGreen rgba(143, 188, 143, 0.8)) #657348*/ }
.background-quaternary { background: DarkSeaGreen; /* */ }
.background-quinary { background: #191515; /*gray-to-black*/ }

/*Color List:
- light-purple = #8c7e9a;
- medium purple = #6c5980;
- medium-purple = #48315f;
- dark-purple = #201131;
- white-to-beige = #e8ded9;
- light-beige = #e8b193;
- medium-beige = #dc8b60;
- light-khaki = #eae7ca;


- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */